.sidebar {
    width: 250px;
    background-color: #1d2434;
    color: white;
    padding: 15px;
    height: 100vh;
}

.sidebar-title {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 0.95rem;
    border-radius: 5px;
}

.nav-link i {
    margin-right: 10px;
}

.nav-link:hover,
.active {
    background-color: rgba(255, 255, 255, 0.2);
}
