.custom-modal {
    border-radius: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
}

.modal-body {
    padding: 20px;
    background-color:#f7f7f7;
    border-radius: 10px;

}

.form-label {
    font-weight: 600;
    margin-bottom: 5px;
}

.form-select,
.form-control {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.btn-submit {
    width: 100%;
    background-color: #ff7f1a;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #e66b00;
}
