<app-reusable-modal modalId="addFloorModal" title="Create Floor">
    <form #floorForm="ngForm">
        <div class="mb-3">
            <label for="floorName" class="form-label">Enter Floor Name</label>
            <input type="text" class="form-control" id="floorName" placeholder="Enter Floor Name"
                [(ngModel)]="floorName" name="floorName" required>
        </div>
        <button type="button" class="btn btn-submit" (click)="save()">Submit</button>
    </form>
</app-reusable-modal>