<app-reusable-modal modalId="addFloorModal" title="Create Floor">
    <form #floorForm="ngForm">
        <div class="mb-3">
            <label for="floorName" class="form-label">Enter Floor Name</label>
            <input type="text" class="form-control" id="floorName" placeholder="Enter Floor Name"
                [(ngModel)]="newFloor.name" name="floorName" required>
        </div>
        <div class="mb-3">
            <label for="floorName" class="form-label">Enter Building Id</label>
            <input type="text" class="form-control" id="floorID" placeholder="Enter Building ID"
                [(ngModel)]="newFloor.buildingId" name="floorid" required>
        </div>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)="save()">Submit</button>
    </form>
</app-reusable-modal>