<div
    class="table-responsive mt-4" 
>
    <table
        class=" custom-table table table-striped table-hover table-borderless table-primary align-middle"
    >
        <thead class="table-light">
            <tr>
                <th scope="col"><input type="checkbox" (change)="toggleAll()" [checked]="allSelected"></th>

                <th>ID</th>
                <th>Building Name</th>
                <th>School</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
    <tr *ngFor="let building of buildings">
        <td><input type="checkbox" [(ngModel)]="building.selected"></td>
        <td><strong>#{{ building.id}}</strong></td>
        <td>{{building.building}}</td>
        <td>School {{building.school}}</td>
    
        <td class="actions">
            <button class="btn btn-sm"><i class="bi bi-trash" (click)="deleteBuilding(building.id)"></i></button>
            <button class="btn btn-sm"><i class="bi bi-pen" (click)="editbuilding(building.id)"></i> </button>
            <button class="btn btn-sm"><i class="bi bi-eye"></i> </button>
        </td>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
</div>

<app-create-building-modal (buildingadded)="add($event)"></app-create-building-modal>
